<a href="https://colab.research.google.com/github/herysedra/covid19-mankaiza-clone/blob/andrana/scripts/paper/simple_blocks/data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats
import matplotlib
import pickle

"""
Mahasedra comments:
Here we will trace most of treatments done on the data 'confirmed_cases'
"""

#cco_cases_mdg = pd.read_csv("/content/drive/My Drive/data/cco mdg.csv")


csse_confirmed_cases_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
csse_confirmed_cases = pd.read_csv(csse_confirmed_cases_url, sep=',')

deaths_url =  'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
deaths = pd.read_csv(deaths_url, sep=',')

csse_recovered_cases_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'
csse_recovered_cases = pd.read_csv(csse_recovered_cases_url, sep=',')

who_conf_and_death_cases_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/who_covid_19_situation_reports/who_covid_19_sit_rep_time_series/who_covid_19_sit_rep_time_series.csv'
who_conf_and_death_cases = pd.read_csv(who_conf_and_death_cases_url, sep=',')


who_cases_mdg = pd.read_csv("/content/drive/My Drive/data/who mdg.csv")

In [0]:
import pymc3 as pm
import theano.tensor as tt
import theano
import datetime
import time

date_data_begin = datetime.date(2020,3,1)
date_data_end = datetime.date(2020,3,15)
num_days_to_predict = 28


diff_data_sim = 16 # should be significantly larger than the expected delay, in 
                   # order to always fit the same number of data points.


date_begin_sim = date_data_begin - datetime.timedelta(days = diff_data_sim)

format_date = lambda date_py: '{}/{}/{}'.format(date_py.month, date_py.day,
                                                 str(date_py.year)[2:4])
date_formatted_begin = format_date(date_data_begin)
date_formatted_end = format_date(date_data_end)


print('date_data_begin is:',date_data_begin, sep=" ")
print('date_formatted_begin', date_formatted_begin, sep=" ")

In [21]:
csse_confirmed_cases.info()
csse_confirmed_cases

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 99 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  82 non-null     object
 1   Country/Region  264 non-null    object
 2   Lat             264 non-null    float64
 3   Long            264 non-null    float64
 4   1/22/20         264 non-null    int64
 5   1/23/20         264 non-null    int64
 6   1/24/20         264 non-null    int64
 7   1/25/20         264 non-null    int64
 8   1/26/20         264 non-null    int64
 9   1/27/20         264 non-null    int64
 10  1/28/20         264 non-null    int64
 11  1/29/20         264 non-null    int64
 12  1/30/20         264 non-null    int64
 13  1/31/20         264 non-null    int64
 14  2/1/20          264 non-null    int64
 15  2/2/20          264 non-null    int64
 16  2/3/20          264 non-null    int64
 17  2/4/20          264 non-null    int64
 18  2/5/20          264 non-null    int64
 19  2/6/20          264 non-null    int64
 20  2/7/20          264 non-null    int64
 21  2/8/20          264 non-null    int64
 22  2/9/20          264 non-null    int64
 23  2/10/20         264 non-null    int64
 24  2/11/20         264 non-null    int64
 25  2/12/20         264 non-null    int64
 26  2/13/20         264 non-null    int64
 27  2/14/20         264 non-null    int64
 28  2/15/20         264 non-null    int64
 29  2/16/20         264 non-null    int64
 30  2/17/20         264 non-null    int64
 31  2/18/20         264 non-null    int64
 32  2/19/20         264 non-null    int64
 33  2/20/20         264 non-null    int64
 34  2/21/20         264 non-null    int64
 35  2/22/20         264 non-null    int64
 36  2/23/20         264 non-null    int64
 37  2/24/20         264 non-null    int64
 38  2/25/20         264 non-null    int64
 39  2/26/20         264 non-null    int64
 40  2/27/20         264 non-null    int64
 41  2/28/20         264 non-null    int64
 42  2/29/20         264 non-null    int64
 43  3/1/20          264 non-null    int64
 44  3/2/20          264 non-null    int64
 45  3/3/20          264 non-null    int64
 46  3/4/20          264 non-null    int64
 47  3/5/20          264 non-null    int64
 48  3/6/20          264 non-null    int64
 49  3/7/20          264 non-null    int64
 50  3/8/20          264 non-null    int64
 51  3/9/20          264 non-null    int64
 52  3/10/20         264 non-null    int64
 53  3/11/20         264 non-null    int64
 54  3/12/20         264 non-null    int64
 55  3/13/20         264 non-null    int64
 56  3/14/20         264 non-null    int64
 57  3/15/20         264 non-null    int64
 58  3/16/20         264 non-null    int64
 59  3/17/20         264 non-null    int64
 60  3/18/20         264 non-null    int64
 61  3/19/20         264 non-null    int64
 62  3/20/20         264 non-null    int64
 63  3/21/20         264 non-null    int64
 64  3/22/20         264 non-null    int64
 65  3/23/20         264 non-null    int64
 66  3/24/20         264 non-null    int64
 67  3/25/20         264 non-null    int64
 68  3/26/20         264 non-null    int64
 69  3/27/20         264 non-null    int64
 70  3/28/20         264 non-null    int64
 71  3/29/20         264 non-null    int64
 72  3/30/20         264 non-null    int64
 73  3/31/20         264 non-null    int64
 74  4/1/20          264 non-null    int64
 75  4/2/20          264 non-null    int64
 76  4/3/20          264 non-null    int64
 77  4/4/20          264 non-null    int64
 78  4/5/20          264 non-null    int64
 79  4/6/20          264 non-null    int64
 80  4/7/20          264 non-null    int64
 81  4/8/20          264 non-null    int64
 82  4/9/20          264 non-null    int64
 83  4/10/20         264 non-null    int64
 84  4/11/20         264 non-null    int64
 85  4/12/20         264 non-null    int64
 86  4/13/20         264 non-null    int64
 87  4/14/20         264 non-null    int64
 88  4/15/20         264 non-null    int64
 89  4/16/20         264 non-null    int64
 90  4/17/20         264 non-null    int64
 91  4/18/20         264 non-null    int64
 92  4/19/20         264 non-null    int64
 93  4/20/20         264 non-null    int64
 94  4/21/20         264 non-null    int64
 95  4/22/20         264 non-null    int64
 96  4/23/20         264 non-null    int64
 97  4/24/20         264 non-null    int64
 98  4/25/20         264 non-null    int64
dtypes: float64(2), int64(95), object(2)
memory usage: 204.3+ KB

                Province/State         Country/Region  ...  4/24/20  4/25/20
0                          NaN            Afghanistan  ...     1351     1463
1                          NaN                Albania  ...      678      712
2                          NaN                Algeria  ...     3127     3256
3                          NaN                Andorra  ...      731      738
4                          NaN                 Angola  ...       25       25
..                         ...                    ...  ...      ...      ...
259  Saint Pierre and Miquelon                 France  ...        1        1
260                        NaN            South Sudan  ...        5        5
261                        NaN         Western Sahara  ...        6        6
262                        NaN  Sao Tome and Principe  ...        4        4
263                        NaN                  Yemen  ...        1        1

[264 rows x 99 columns]

In [22]:
csse_confirmed_cases.loc[csse_confirmed_cases["Country/Region"] == "Germany"]

    Province/State Country/Region   Lat  ...  4/23/20  4/24/20  4/25/20
120            NaN        Germany  51.0  ...   153129   154999   156513

[1 rows x 99 columns]

In [23]:
cases_obs =  np.array(
    csse_confirmed_cases.loc[csse_confirmed_cases["Country/Region"] == "Germany", 
                        date_formatted_begin:date_formatted_end])[0]



print('Germany csse 3/1/20 to 3/15/20:', cases_obs, sep=" ")


print('len_(cases_obs) is', len(cases_obs), sep=" ")
type(cases_obs)
cases_obs.shape
#From the output, cases_obs is made of 15

Germany csse 3/1/20 to 3/15/20: [ 130  159  196  262  482  670  799 1040 1176 1457 1908 2078 3675 4585
 5795]
len_(cases_obs) is 15

(15,)

In [0]:
cases0_obs =  np.array(
    csse_confirmed_cases.loc[csse_confirmed_cases["Country/Region"] == "Germany", 
                        date_formatted_begin:date_formatted_end])

# Notice the absence of [0] at the end compared to cases_obs.

print(cases0_obs)
type(cases0_obs)
cases0_obs.shape
#From the output, cases0_obs is made of 1 row and 15 columns 
# The action of [0] is to pick the index 0.

In [29]:
date_data_begin = datetime.date(2020,3,1)
date_data_end = datetime.date(2020,3,15)

format_date = lambda date_py: '{}/{}/{}'.format(date_py.month, date_py.day,
                                                 str(date_py.year))

date_formatted_begin = format_date(date_data_begin)
date_formatted_end = format_date(date_data_end)

"""
cases_jw_obs =  np.array(who_conf_and_death_cases.loc[(who_conf_and_death_cases['Province/States'] == "Confirmed") & (who_conf_and_death_cases["Country/Region"] == "Germany"), 
                        date_formatted_begin:date_formatted_end])
"""
cases_jw_obs =  np.array(who_conf_and_death_cases.loc[who_conf_and_death_cases["Country/Region"] == "Germany", 
                        date_formatted_begin:date_formatted_end])[0]

print('Germany jwho 3/1/20 to 3/15/20:', cases_jw_obs)

Germany jwho 3/1/20 to 3/15/20: [  57.  129.  157.  196.  262.  534.  639.  795. 1112. 1139. 1296. 1567.
 2369. 3062. 3795.]

In [30]:
who_conf_and_death_cases.info()
who_conf_and_death_cases

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259 entries, 0 to 258
Data columns (total 77 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Province/States  53 non-null     object
 1   Country/Region   247 non-null    object
 2   WHO region       256 non-null    object
 3   1/21/2020        11 non-null     float64
 4   1/22/2020        21 non-null     float64
 5   1/23/2020        25 non-null     float64
 6   1/24/2020        27 non-null     float64
 7   1/25/2020        16 non-null     float64
 8   1/26/2020        17 non-null     float64
 9   1/27/2020        19 non-null     float64
 10  1/28/2020        22 non-null     float64
 11  1/29/2020        23 non-null     float64
 12  1/30/2020        26 non-null     float64
 13  1/31/2020        27 non-null     float64
 14  2/1/2020         62 non-null     float64
 15  2/2/2020         62 non-null     float64
 16  2/3/2020         62 non-null     float64
 17  2/4/2020         62 non-null     float64
 18  2/5/2020         63 non-null     float64
 19  2/6/2020         64 non-null     float64
 20  2/7/2020         64 non-null     float64
 21  2/8/2020         64 non-null     float64
 22  2/9/2020         64 non-null     float64
 23  2/10/2020        64 non-null     float64
 24  2/11/2020        64 non-null     float64
 25  2/12/2020        64 non-null     float64
 26  2/13/2020        64 non-null     float64
 27  2/14/2020        64 non-null     float64
 28  2/15/2020        65 non-null     float64
 29  2/16/2020        65 non-null     float64
 30  2/17/2020        65 non-null     float64
 31  2/18/2020        65 non-null     float64
 32  2/19/2020        65 non-null     float64
 33  2/20/2020        66 non-null     float64
 34  2/21/2020        66 non-null     float64
 35  2/22/2020        68 non-null     float64
 36  2/23/2020        68 non-null     float64
 37  2/24/2020        69 non-null     float64
 38  2/25/2020        73 non-null     float64
 39  2/26/2020        77 non-null     float64
 40  2/27/2020        86 non-null     float64
 41  2/28/2020        91 non-null     float64
 42  2/29/2020        93 non-null     float64
 43  3/1/2020         98 non-null     float64
 44  3/2/2020         104 non-null    float64
 45  3/3/2020         112 non-null    float64
 46  3/4/2020         116 non-null    float64
 47  3/5/2020         123 non-null    float64
 48  3/6/2020         127 non-null    float64
 49  3/7/2020         132 non-null    float64
 50  3/8/2020         141 non-null    float64
 51  3/9/2020         144 non-null    float64
 52  3/10/2020        149 non-null    float64
 53  3/11/2020        153 non-null    float64
 54  3/12/2020        157 non-null    float64
 55  3/13/2020        162 non-null    float64
 56  3/14/2020        174 non-null    float64
 57  3/15/2020        183 non-null    float64
 58  3/16/2020        156 non-null    float64
 59  3/17/2020        177 non-null    float64
 60  3/18/2020        178 non-null    float64
 61  3/19/2020        186 non-null    float64
 62  3/20/2020        194 non-null    float64
 63  3/21/2020        200 non-null    float64
 64  3/22/2020        204 non-null    float64
 65  3/23/2020        207 non-null    float64
 66  3/24/2020        211 non-null    float64
 67  3/25/2020        213 non-null    float64
 68  3/26/2020        216 non-null    float64
 69  3/27/2020        218 non-null    float64
 70  3/28/2020        218 non-null    float64
 71  3/29/2020        220 non-null    float64
 72  3/30/2020        220 non-null    float64
 73  3/31/2020        220 non-null    float64
 74  4/1/2020         223 non-null    float64
 75  4/2/2020         223 non-null    float64
 76  4/3/2020         224 non-null    float64
dtypes: float64(74), object(3)
memory usage: 155.9+ KB

    Province/States    Country/Region  ...  4/2/2020  4/3/2020
0         Confirmed          Globally  ...  896450.0  972303.0
1            Deaths          Globally  ...   45525.0   50321.0
2         Confirmed             China  ...   82724.0   82802.0
3         Confirmed  Outside of China  ...  813726.0  889501.0
4            Deaths             China  ...    3327.0    3331.0
..              ...               ...  ...       ...       ...
254          Deaths               NaN  ...    3279.0    3438.0
255       Confirmed               NaN  ...  216912.0  247473.0
256          Deaths               NaN  ...    4565.0    5600.0
257       Confirmed               NaN  ...    4702.0    5263.0
258          Deaths               NaN  ...     127.0     164.0

[259 rows x 77 columns]

In [31]:
who_conf_and_death_cases[0:12]

   Province/States    Country/Region  ...  4/2/2020  4/3/2020
0        Confirmed          Globally  ...  896450.0  972303.0
1           Deaths          Globally  ...   45525.0   50321.0
2        Confirmed             China  ...   82724.0   82802.0
3        Confirmed  Outside of China  ...  813726.0  889501.0
4           Deaths             China  ...    3327.0    3331.0
5           Hubei              China  ...       NaN       NaN
6        Guangdong             China  ...       NaN       NaN
7            Henan             China  ...       NaN       NaN
8         Zhejiang             China  ...       NaN       NaN
9            Hunan             China  ...       NaN       NaN
10           Anhui             China  ...       NaN       NaN
11         Jiangxi             China  ...       NaN       NaN

[12 rows x 77 columns]

In [32]:
csse_confirmed_cases.loc[csse_confirmed_cases["Country/Region"] == "Germany"]

    Province/State Country/Region   Lat  ...  4/23/20  4/24/20  4/25/20
120            NaN        Germany  51.0  ...   153129   154999   156513

[1 rows x 99 columns]

In [33]:
who_conf_and_death_cases.loc[who_conf_and_death_cases["Country/Region"] =="Germany"]

   Province/States Country/Region  ... 4/2/2020  4/3/2020
61             NaN        Germany  ...  73522.0   79696.0

[1 rows x 77 columns]

In [13]:
who_conf_and_death_cases.loc[who_conf_and_death_cases["Country/Region"] =="Madagascar"]

    Province/States Country/Region  ... 4/2/2020  4/3/2020
213             NaN     Madagascar  ...     53.0      65.0

[1 rows x 77 columns]

In [34]:
who_conf_and_death_cases[2:4]

  Province/States    Country/Region  ...  4/2/2020  4/3/2020
2       Confirmed             China  ...   82724.0   82802.0
3       Confirmed  Outside of China  ...  813726.0  889501.0

[2 rows x 77 columns]

In [35]:
print(who_cases_mdg)

who_cases_mdg.set_index('Date', inplace=True)

who_cases_mdg.info()

       Date  Total cases  new cases  local transmission  Cluster  sporadic
0   3/21/20            3          3                 NaN      NaN       NaN
1   3/22/20            3          0                 NaN      NaN       NaN
2   3/23/20           12          9                 NaN      NaN       NaN
3   3/24/20           13          1                 NaN      NaN       NaN
4   3/25/20           19          6                 NaN      NaN       NaN
5   3/26/20           19          0                 NaN      NaN       NaN
6   3/27/20           24          5                 NaN      NaN       NaN
7   3/28/20           26          2                 NaN      NaN       NaN
8   3/29/20           26          0                 NaN      NaN       NaN
9   3/30/20           37         11                 NaN      NaN       NaN
10  3/31/20           46          9                 NaN      NaN       NaN
11   4/1/20           53          7                 0.0      NaN       NaN
12   4/2/20           53          0                 1.0      NaN       NaN
13   4/3/20           65         12                 0.0      NaN       NaN
14   4/4/20           65          0                 1.0      NaN       NaN
15   4/5/20           70          5                 0.0      NaN       NaN
16   4/6/20           77          7                 0.0      NaN       NaN
17   4/7/20           77          0                 1.0      NaN       NaN
18   4/8/20           92         15                 0.0      NaN       NaN
19   4/9/20           93          1                 0.0      NaN       NaN
20  4/10/20           95          2                 NaN      0.0       NaN
21  4/11/20           95          0                 NaN      1.0       NaN
22  4/12/20          104          9                 NaN      0.0       NaN
23  4/13/20          106          2                 NaN      0.0       NaN
24  4/14/20          106          0                 NaN      1.0       NaN
25  4/15/20          110          4                 NaN      0.0       NaN
26  4/16/20          110          0                 NaN      0.0       NaN
27  4/17/20          117          7                 NaN      0.0       NaN
28  4/18/20          117          0                 NaN      1.0       NaN
29  4/19/20          120          3                 NaN      0.0       NaN
30  4/20/20          121          1                 NaN      0.0       NaN
31  4/21/20          121          0                 NaN      1.0       NaN
32  4/22/20          121          0                 NaN      2.0       NaN
33  4/23/20          121          0                 NaN      3.0       NaN
<class 'pandas.core.frame.DataFrame'>
Index: 34 entries, 3/21/20 to 4/23/20
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Total cases         34 non-null     int64
 1   new cases           34 non-null     int64
 2   local transmission  9 non-null      float64
 3   Cluster             14 non-null     float64
 4   sporadic            0 non-null      float64
dtypes: float64(3), int64(2)
memory usage: 1.6+ KB

In [39]:
date_data_begin = datetime.date(2020,4,1)
date_data_end = datetime.date(2020,4,15)


format_date = lambda date_py: '{}/{}/{}'.format(date_py.month, date_py.day,
                                                 str(date_py.year)[2:4])

date_formatted_begin = format_date(date_data_begin)
date_formatted_end = format_date(date_data_end)

cases_j_m_obs =  np.array(
    csse_confirmed_cases.loc[csse_confirmed_cases["Country/Region"] == "Madagascar", 
                        date_formatted_begin:date_formatted_end])[0]


cases_w_m_obs =  np.array(who_cases_mdg.loc[date_formatted_begin:date_formatted_end, 'Total cases'])

                      
print('cases who mdg obs:', cases_w_m_obs)

print('cases jhu mdg obs:', cases_j_m_obs)

cases who mdg obs: [ 53  53  65  65  70  77  77  92  93  95  95 104 106 106 110]
cases jhu mdg obs: [ 57  59  70  70  72  82  88  93  93  93 102 106 106 108 110]

In [38]:
date_data_begin = datetime.date(2020,4,2)
date_data_end = datetime.date(2020,4,3)

format_date = lambda date_py: '{}/{}/{}'.format(date_py.month, date_py.day,
                                                 str(date_py.year))

date_formatted_begin = format_date(date_data_begin)
date_formatted_end = format_date(date_data_end)


cases_jw_obs =  who_conf_and_death_cases.loc[(who_conf_and_death_cases['Province/States'] == "Confirmed") & (who_conf_and_death_cases["Country/Region"] == "China"), 
                        date_formatted_begin:date_formatted_end]
print('cases jwho china obs:', cases_jw_obs)

cases_jw_m_obs =  who_conf_and_death_cases.loc[who_conf_and_death_cases["Country/Region"] == "Madagascar", 
                        date_formatted_begin:date_formatted_end]
print('cases jwho md obs:', cases_jw_m_obs)

cases jwho china obs:    4/2/2020  4/3/2020
2   82724.0   82802.0
cases jwho md obs:      4/2/2020  4/3/2020
213      53.0      65.0

In [0]:
def delay_cases(new_I_t, len_new_I_t, len_new_cases_obs , delay, delay_arr):
    """
    Delays the input new_I_t by delay and return and array with length len_new_cases_obs
    The initial delay of the output is set by delay_arr. 
    
    Take care that delay is smaller or equal than delay_arr, otherwise zeros are 
    returned, which could potentially lead to errors

    Also assure that len_new_I_t is larger then len(new_cases_obs)-delay, otherwise it 
    means that the simulated data is not long enough to be fitted to the data.
    """

    """
    Mahasedra comments:
    The function delay_cases() constructs the newly reported cases (C_t) of the article (p. 11. Eq. 4).
    Indeed, it will be used below in many equalities of the form: new_cases_inferred = delay_cases(...),
    where: 
    new_cases_inferred is the number of new cases given by the SIR model 
    new_cases_obs is the newly reported or observed cases.

    The function delay_cases() is constructed by building other 2 functions: 
    make_delay_matrix() and interpolate(). [The constructions of these 
    2 functions are just programming details.]
    """



    delay_mat = make_delay_matrix(n_rows=len_new_I_t, 
                                  n_columns=len_new_cases_obs, initial_delay=delay_arr)
    inferred_cases = interpolate(new_I_t, delay, delay_mat)
    return inferred_cases 

def make_delay_matrix(n_rows, n_columns, initial_delay=0):
    """
    Has in each entry the delay between the input with size n_rows and the output
    with size n_columns
    """
    size = max(n_rows, n_columns)
    mat = np.zeros((size, size))
    for i in range(size):
        diagonal = np.ones(size-i)*(initial_delay + i)
        mat += np.diag(diagonal, i)
    for i in range(1, size):
        diagonal = np.ones(size-i)*(initial_delay - i)
        mat += np.diag(diagonal, -i)
    return mat[:n_rows, :n_columns]
    
    """
    Mahasedra comments:
    Above is the construction of make_delay_matrix().
    """

def interpolate(array, delay, delay_matrix):
    interp_matrix = tt.maximum(1-tt.abs_(delay_matrix - delay), 0)
    interpolation = tt.dot(array,interp_matrix)
    return interpolation


ex1 = delay_cases([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], 14, 6, 3, 10)
#ex1
type(ex1)
ex1.shape

ex2 = make_delay_matrix(29,14,16)
# ex2 is the delay_mat for len(new_I_t) = 
print('make_delay_matrix(29,14,16) is:')
ex2

ex3 = np.maximum(1-np.absolute(ex2 - 8),0)
print('interp_matrix for make_delay_matrix(29,14,16) and a delay D = 8 is:')
ex3
# For a discrete time, delay_case built newly reported cases (C_t) from 
# newly infected case at time t - delay.

make_delay_matrix(29,14,16) is:
interp_matrix for make_delay_matrix(29,14,16) and a delay D = 8 is:

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

# Construction of new_case_inferred

## 1/ Input values for new_case_inferred  
For all cases, the following inputs values of new_case_inferred do not change:  \
delay = delay,  (delay is a random variable) \
delay_arr = diff_data_sim (= 16)

1.1/ new_case_inferred from the training of the model

In [0]:
    S_begin = N_germany - I_begin
    S_past, I_past, new_I_past = SIR_model(λ=λ * tt.ones(num_days-1), μ=μ, 
                                               S_begin=S_begin, I_begin=I_begin,
                                               N=N_germany)
    new_cases_obs = np.diff(cases_obs)
    new_cases_inferred = delay_cases(new_I_past, len_new_I_t=num_days - 1, 
                                     len_new_cases_obs = len(new_cases_obs), 
                                     delay = delay, 
                                     delay_arr = diff_data_sim
                                     )

For the training of the model, the input values for new_cases_inferred are: \
    new_I_t = new_I_past, \
    len_new_I_t = num_days - 1 = 29 \
    len_new_cases_obs = len(new_cases_obs) = len(cases_obs) - 1 = 15 - 1 = 14

1.2/ Prediction \
For all cases of prediction, the following input values are fixed: \
len_new_I_t = diff_data_sim + num_days_to_predict = 16 + 28 = 44,     
len_new_cases_obs = num_days_to_predict = 28 \

For each case of prediction, the explicit construction of new_I_t changes.

In [0]:
# prediction, start with no changes in policy
    S_begin = S_past[-1]
    I_begin = I_past[-1]
    forecast_no_change = SIR_model(λ=λ*tt.ones(num_days_to_predict), μ=μ, 
                        S_begin=S_begin, I_begin=I_begin, N=N_germany)
    S_no_change, I_no_change, new_I_no_change = forecast_no_change

new_cases_inferred = delay_cases(tt.concatenate([new_I_past[-diff_data_sim:], new_I_no_change]),
                                len_new_I_t = diff_data_sim + num_days_to_predict, 
                                len_new_cases_obs = num_days_to_predict, 
                                delay = delay, # delay is a random variable
                                delay_arr = diff_data_sim
 # One preserves the last 16 (= diff_data_sim) elements of new_I_past 
 # and concatenates them with the 28 (= num_days_to_predict) elements of new_I_no_change

In [0]:
 # social distancing, m reduced by about 50 percent

new_cases_inferred = delay_cases(tt.concatenate([new_I_past[-diff_data_sim:], new_I_soc_dist]), 
                                len_new_I_t = diff_data_sim + num_days_to_predict, 
                                len_new_cases_obs = num_days_to_predict, 
                                delay = delay, 
                                delay_arr = diff_data_sim
                                 )

In [0]:
# isolation, almost no new infections besides baseline after transient phase

new_cases_inferred = delay_cases(tt.concatenate([new_I_past[-diff_data_sim:], new_I_isol]), 
                                len_new_I_t = diff_data_sim + num_days_to_predict, 
                                len_new_cases_obs = num_days_to_predict, 
                                delay = delay, 
                                delay_arr = diff_data_sim
                                 )

In [0]:
 # isolation 5 days later, almost no new infections besides baseline after transient phase
 new_cases_inferred = delay_cases(tt.concatenate([new_I_past[-diff_data_sim:], new_I_isol_later]), 
                                  len_new_I_t = diff_data_sim + num_days_to_predict, 
                                  len_new_cases_obs = num_days_to_predict, 
                                  delay = delay, delay_arr = diff_data_sim
                                  )

In [0]:
# isolation 5 days earlier, almost no new infections besides baseline after transient phase
# length_transient = 7

new_cases_inferred = delay_cases(tt.concatenate([new_I_past[-diff_data_sim:days_offset], new_I_earlier]), 
                                 len_new_I_t=diff_data_sim + num_days_to_predict, 
                                 len_new_cases_obs=num_days_to_predict, 
                                delay=delay, delay_arr=diff_data_sim
                                 )

In [0]:
# long transient scenario
#  length_transient = 14
new_cases_inferred = delay_cases(tt.concatenate([new_I_past[-diff_data_sim:days_offset_sim], new_I_long_trans]), 
                                 len_new_I_t=diff_data_sim + num_days_to_predict, 
                                 len_new_cases_obs=num_days_to_predict, 
                                 delay=delay, delay_arr=diff_data_sim
                                 )

In [0]:
# immediate transient scenario
new_cases_inferred = delay_cases(tt.concatenate([new_I_past[-diff_data_sim:], new_I_isol]), 
                                 len_new_I_t=diff_data_sim + num_days_to_predict, 
                                 len_new_cases_obs=num_days_to_predict, 
                                 delay=delay, delay_arr=diff_data_sim
                                 )

In [0]:
    # -------------------------------------------------------------------------- #
    # Data for the training of the model 
    # -------------------------------------------------------------------------- #

    
    # For the training: