<a href="https://colab.research.google.com/github/herysedra/covid19-mankaiza-clone/blob/andrana/stats/Fampita_mdg_ke.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
!pip install pingouin

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats
import matplotlib
import pickle

import pymc3 as pm
import theano.tensor as tt
import theano
import datetime
import time
import pingouin 

#from pingouin import corr
import pandas.util.testing as tm

cco_cases_mdg = pd.read_csv("/content/drive/My Drive/data/cco mdg.csv")

tilyvoa = pd.read_csv("/content/drive/My Drive/data/tilyvoa.csv")

Kenyans_data = pd.read_csv("/content/drive/My Drive/data/Kenyans data.csv")

mdg_databe = pd.read_csv("/content/drive/My Drive/data/databe mdg.csv")


cco_cases_mdg.set_index('Date', inplace=True)

tilyvoa.set_index('Daty', inplace=True)



path_to_save = '/content/drive/My Drive/sary/'
path_data = '/content/drive/My Drive/data/'

In [105]:
mdg_databe.info()
mdg_databe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Loharano  216 non-null    object
 1   Lnav      118 non-null    object
 2   Taona     115 non-null    float64
 3   Daty      215 non-null    object
 4   Toerana   47 non-null     object
 5   Distrika  73 non-null     object
 6   Faritra   169 non-null    object
 7   Avaiza    44 non-null     object
 8   Fiaviana  37 non-null     object
 9   Ivao      192 non-null    float64
dtypes: float64(2), object(8)
memory usage: 17.0+ KB

    Loharano  Lnav  Taona  Daty  ...       Faritra Avaiza Fiaviana Ivao
0     FB-TVM  lahy   26.0  5/07  ...     Toamasina    NaN      NaN  1.0
1     FB-TVM  lahy   42.0  5/07  ...     Toamasina    NaN      NaN  1.0
2     FB-TVM  vavy   26.0  5/07  ...     Toamasina    NaN      NaN  1.0
3     FB-TVM  vavy   27.0  5/07  ...     Toamasina    NaN      NaN  1.0
4     FB-TVM  vavy   43.0  5/07  ...     Toamasina    NaN      NaN  1.0
..       ...   ...    ...   ...  ...           ...    ...      ...  ...
211   FB-TVM   NaN    NaN  3/26  ...  Antananarivo    NaN      NaN  NaN
212   FB-TVM   NaN    NaN  3/26  ...     Toamasina    NaN      NaN  NaN
213   FB-TVM   NaN    NaN  3/25  ...           NaN    NaN      NaN  0.0
214   FB-TVM   NaN    NaN  3/25  ...  Antananarivo    NaN      NaN  NaN
215   FB-TVM   NaN    NaN  3/25  ...     Toamasina    NaN      NaN  NaN

[216 rows x 10 columns]

In [106]:
databefar = mdg_databe.groupby('Faritra')
for Faritra in databefar:
    print(Faritra)

('Antananarivo',     Loharano  Lnav  Taona  Daty  ...       Faritra Avaiza Fiaviana Ivao
11    FB-TVM  vavy   24.0  5/07  ...  Antananarivo    NaN      NaN  1.0
12    FB-TVM  vavy   63.0  5/07  ...  Antananarivo    NaN      NaN  1.0
13    FB-TVM  lahy   25.0  5/07  ...  Antananarivo    NaN      NaN  1.0
14    FB-TVM  vavy   30.0  5/07  ...  Antananarivo    NaN      NaN  1.0
17    FB-TVM  vavy    9.0  5/07  ...  Antananarivo    NaN      NaN  1.0
..       ...   ...    ...   ...  ...           ...    ...      ...  ...
198   FB-TVM   NaN    NaN  3/29  ...  Antananarivo    NaN      NaN  NaN
200   FB-TVM   NaN    NaN  3/28  ...  Antananarivo    NaN      NaN  NaN
205   FB-TVM   NaN    NaN  3/27  ...  Antananarivo    NaN      NaN  NaN
211   FB-TVM   NaN    NaN  3/26  ...  Antananarivo    NaN      NaN  NaN
214   FB-TVM   NaN    NaN  3/25  ...  Antananarivo    NaN      NaN  NaN

[87 rows x 10 columns])
('Mahatsiatra Ambony',    Loharano  Lnav  Taona  Daty  ...             Faritra Avaiza Fiaviana Ivao
60   FB-TVM  lahy   47.0  5/02  ...  Mahatsiatra Ambony    NaN      NaN  1.0

[1 rows x 10 columns])
('Nosy Be',     Loharano  Lnav  Taona  Daty  ...  Faritra   Avaiza Fiaviana Ivao
150   FB-TVM  vavy   32.0  4/06  ...  Nosy Be  contact   vahiny  1.0

[1 rows x 10 columns])
('Toamasina',     Loharano  Lnav  Taona  Daty  ...    Faritra Avaiza Fiaviana Ivao
0     FB-TVM  lahy   26.0  5/07  ...  Toamasina    NaN      NaN  1.0
1     FB-TVM  lahy   42.0  5/07  ...  Toamasina    NaN      NaN  1.0
2     FB-TVM  vavy   26.0  5/07  ...  Toamasina    NaN      NaN  1.0
3     FB-TVM  vavy   27.0  5/07  ...  Toamasina    NaN      NaN  1.0
4     FB-TVM  vavy   43.0  5/07  ...  Toamasina    NaN      NaN  1.0
..       ...   ...    ...   ...  ...        ...    ...      ...  ...
199   FB-TVM   NaN    NaN  3/29  ...  Toamasina    NaN      NaN  NaN
201   FB-TVM   NaN    NaN  3/28  ...  Toamasina    NaN      NaN  NaN
206   FB-TVM   NaN    NaN  3/27  ...  Toamasina    NaN      NaN  NaN
212   FB-TVM   NaN    NaN  3/26  ...  Toamasina    NaN      NaN  NaN
215   FB-TVM   NaN    NaN  3/25  ...  Toamasina    NaN      NaN  NaN

[78 rows x 10 columns])
('Toliara',     Loharano  Lnav  Taona  Daty  ...  Faritra   Avaiza Fiaviana Ivao
151   FB-TVM  lahy   33.0  4/06  ...  Toliara  contact   vahiny  1.0
152   FB-TVM  lahy   74.0  4/06  ...  Toliara  contact   vahiny  1.0

[2 rows x 10 columns])

In [107]:
Antanab = databefar.get_group('Antananarivo')
Toamab = databefar.get_group('Toamasina')

Antanab
#type(Antanab)
# Antana eto dia fitambarana (key= Faritra iray,object=data momba ilay Faritra)
# Antanadaty = Antana.groupby('Daty')
# Antanadaty dia 
#plt.figure()
#plt.plot(Antana['Daty'], Antana['Ivao'], marker ="+",ls = 'None', color='black')

    Loharano  Lnav  Taona  Daty  ...       Faritra Avaiza Fiaviana Ivao
11    FB-TVM  vavy   24.0  5/07  ...  Antananarivo    NaN      NaN  1.0
12    FB-TVM  vavy   63.0  5/07  ...  Antananarivo    NaN      NaN  1.0
13    FB-TVM  lahy   25.0  5/07  ...  Antananarivo    NaN      NaN  1.0
14    FB-TVM  vavy   30.0  5/07  ...  Antananarivo    NaN      NaN  1.0
17    FB-TVM  vavy    9.0  5/07  ...  Antananarivo    NaN      NaN  1.0
..       ...   ...    ...   ...  ...           ...    ...      ...  ...
198   FB-TVM   NaN    NaN  3/29  ...  Antananarivo    NaN      NaN  NaN
200   FB-TVM   NaN    NaN  3/28  ...  Antananarivo    NaN      NaN  NaN
205   FB-TVM   NaN    NaN  3/27  ...  Antananarivo    NaN      NaN  NaN
211   FB-TVM   NaN    NaN  3/26  ...  Antananarivo    NaN      NaN  NaN
214   FB-TVM   NaN    NaN  3/25  ...  Antananarivo    NaN      NaN  NaN

[87 rows x 10 columns]

In [141]:
databefardat = mdg_databe.groupby(['Faritra', 'Daty'])
g = databefardat.apply(lambda er: er.sum(min_count=1) )
f = databefardat.sum(min_count=1)

f.loc['Antananarivo','Ivao']

# lay min_count = 1 no mikajy ny sum(nan) = nan.
# databefardat.get_group('Antananarivo') tsy mety
#g.loc['Antananarivo', 'Ivao'] tsy mety

#antana.plot(marker ="+",ls = 'None', color='black')
#dfd = np.array(antana)
#print(antana)
#print(dfd)

Daty
3/25     NaN
3/26     NaN
3/27     NaN
3/28     NaN
3/29     NaN
3/30     0.0
3/31     1.0
4/01     NaN
4/02     NaN
4/03     NaN
4/04     0.0
4/05     NaN
4/06     4.0
4/07     3.0
4/08     NaN
4/09     0.0
4/10     3.0
4/11     0.0
4/12     1.0
4/13     0.0
4/14     2.0
4/15     NaN
4/17     3.0
4/18     2.0
4/19     1.0
4/20     0.0
4/21     0.0
4/22     0.0
4/23     0.0
4/24     NaN
4/25     0.0
4/26     0.0
4/27     3.0
4/28     0.0
4/29     0.0
4/30     0.0
5/01     4.0
5/02     0.0
5/03     7.0
5/04     0.0
5/05     0.0
5/06     1.0
5/07    22.0
Name: Ivao, dtype: float64

In [95]:
daty_lav = datetime.date(2020,4,1)
formatf_date = lambda date_py: '{}/{}'.format(date_py.day, date_py.month)

daty_lst = []


for el in range(14):
  daty_lav =  daty_lav + datetime.timedelta(days = 1)
  daty = formatf_date(daty_lav)
  daty_lst.append(daty)



df = pd.DataFrame({ 'Date': daty_lst, 'Val' : 0}) 
df

    Date  Val
0    2/4    0
1    3/4    0
2    4/4    0
3    5/4    0
4    6/4    0
5    7/4    0
6    8/4    0
7    9/4    0
8   10/4    0
9   11/4    0
10  12/4    0
11  13/4    0
12  14/4    0
13  15/4    0

In [0]:
#plt.figure()
#plt.plot(Antana['Daty'], Antana['Ivao'], marker ="+",ls = 'None', color='black')

In [34]:
Kenyans_data.info()
Kenyans_data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Monitored/close contacts          12 non-null     object
 1   Discharged after being monitored  9 non-null      float64
 2   Followed up                       7 non-null      float64
 3   Daty                              201 non-null    object
 4   Faritra                           195 non-null    object
 5   Tilytot                           11 non-null     float64
 6   Tilyvao                           14 non-null     float64
 7   Itot                              59 non-null     float64
 8   Ivao                              159 non-null    float64
 9   Rtot                              11 non-null     float64
 10  Rvao                              18 non-null     float64
 11  Matot                             10 non-null     float64
 12  Matvao                            15 non-null     float64
dtypes: float64(10), object(3)
memory usage: 20.5+ KB

    Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
0                        NaN                               NaN  ...    NaN    NaN
1                         17                               NaN  ...    NaN    NaN
2                        NaN                               NaN  ...    NaN    NaN
3                        NaN                               NaN  ...    NaN    NaN
4                        NaN                               NaN  ...    NaN    NaN
..                       ...                               ...  ...    ...    ...
196                      NaN                               NaN  ...    NaN    NaN
197                      NaN                               NaN  ...    NaN    NaN
198                      NaN                               NaN  ...    NaN    NaN
199                      NaN                               NaN  ...    NaN    NaN
200                      NaN                               NaN  ...    NaN    NaN

[201 rows x 13 columns]

In [37]:
datacounty = Kenyans_data.groupby('Faritra')
for Faritra in datacounty:
    print(Faritra)
Nairodata = datacounty.get_group('Nairobi')
Mombadata = datacounty.get_group('Mombasa')

('Bungoma',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
172                      NaN                               NaN  ...    NaN    NaN

[1 rows x 13 columns])
('Buruburu',    Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
92                      NaN                               NaN  ...    NaN    NaN

[1 rows x 13 columns])
('Casarani',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
140                      NaN                               NaN  ...    NaN    NaN

[1 rows x 13 columns])
('City Park',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
131                      NaN                               NaN  ...    NaN    NaN

[1 rows x 13 columns])
('Dandora',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
132                      NaN                               NaN  ...    NaN    NaN
142                      NaN                               NaN  ...    NaN    NaN

[2 rows x 13 columns])
('Donholm',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
104                      NaN                               NaN  ...    NaN    NaN

[1 rows x 13 columns])
('Eastleigh',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
103                      NaN                               NaN  ...    NaN    NaN
130                      NaN                               NaN  ...    NaN    NaN
141                      NaN                               NaN  ...    NaN    NaN
162                      NaN                               NaN  ...    NaN    NaN
174                      NaN                               NaN  ...    NaN    NaN

[5 rows x 13 columns])
('Hurlingham',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
101                      NaN                               NaN  ...    NaN    NaN

[1 rows x 13 columns])
('Isiolo',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
192                      NaN                               NaN  ...    NaN    NaN

[1 rows x 13 columns])
('Kajiado',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
16                       NaN                               NaN  ...    NaN    NaN
26                       NaN                               NaN  ...    NaN    NaN
107                      NaN                               NaN  ...    NaN    NaN
186                      NaN                               NaN  ...    NaN    NaN

[4 rows x 13 columns])
('Kakamega',    Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
37                      NaN                               NaN  ...    NaN    NaN

[1 rows x 13 columns])
('Karen',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
88                       NaN                               NaN  ...    NaN    NaN
143                      NaN                               NaN  ...    NaN    NaN

[2 rows x 13 columns])
('Kasarani',    Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
97                      NaN                               NaN  ...    NaN    NaN

[1 rows x 13 columns])
('Kawangware',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
96                       NaN                               NaN  ...    NaN    NaN
163                      NaN                               NaN  ...    NaN    NaN
169                      NaN                               NaN  ...    NaN    NaN
175                      NaN                               NaN  ...    NaN    NaN

[4 rows x 13 columns])
('Kenya',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
0                        NaN                               NaN  ...    NaN    NaN
1                         17                               NaN  ...    NaN    NaN
2                        NaN                               NaN  ...    NaN    NaN
3                        NaN                               NaN  ...    NaN    NaN
4                        NaN                               NaN  ...    NaN    NaN
5                        NaN                               NaN  ...    NaN    NaN
6                        145                               NaN  ...    NaN    NaN
7                        NaN                              44.0  ...    NaN    NaN
8                        NaN                               NaN  ...    NaN    NaN
9                        NaN                               NaN  ...    NaN    NaN
10                       646                              96.0  ...    NaN    NaN
11                       NaN                               NaN  ...    NaN    NaN
12                       NaN                               NaN  ...    NaN    NaN
15                       906                             123.0  ...    1.0    1.0
21                       NaN                               NaN  ...    NaN    NaN
22                       978                               NaN  ...    NaN    NaN
23                      1426                             215.0  ...    NaN    NaN
30                       NaN                               NaN  ...    NaN    NaN
32                       NaN                               NaN  ...    NaN    NaN
41                  1675/969                               NaN  ...    NaN    NaN
42                       NaN                               NaN  ...    NaN    2.0
48                      1433                               NaN  ...    NaN    1.0
49                       NaN                               NaN  ...    NaN    NaN
50                       NaN                               NaN  ...    NaN    NaN
51                       NaN                               NaN  ...    NaN    2.0
58                       NaN                               NaN  ...    NaN    NaN
59                       NaN                            1426.0  ...    NaN    NaN
62                      2046                            1448.0  ...    NaN    NaN
63                       NaN                               NaN  ...    NaN    NaN
66                      2054                            1546.0  ...    NaN    NaN
70                      2160                            1660.0  ...    8.0    1.0
76                       NaN                               NaN  ...    9.0    1.0
80                      2331                            1729.0  ...    NaN    NaN
83                       NaN                               NaN  ...   10.0    1.0
84                       NaN                               NaN  ...   11.0    1.0
85                       NaN                               NaN  ...    NaN    NaN
106                      NaN                               NaN  ...   12.0    2.0
110                      NaN                               NaN  ...    NaN    NaN
115                      NaN                               NaN  ...    NaN    NaN
120                      NaN                               NaN  ...    NaN    NaN
122                      NaN                               NaN  ...   14.0    NaN
126                      NaN                               NaN  ...    NaN    NaN
134                      NaN                               NaN  ...    NaN    NaN
135                      NaN                               NaN  ...    NaN    NaN
136                      NaN                               NaN  ...    NaN    NaN
146                      NaN                               NaN  ...    NaN    NaN
149                      NaN                               NaN  ...    NaN    NaN
152                      NaN                               NaN  ...    NaN    NaN
154                      NaN                               NaN  ...   15.0    1.0
158                      NaN                               NaN  ...    NaN    2.0
165                      NaN                               NaN  ...    NaN    NaN
171                      NaN                               NaN  ...    NaN    1.0
177                      NaN                               NaN  ...    NaN    NaN
180                      NaN                               NaN  ...    NaN    NaN
182                      NaN                               NaN  ...    NaN    NaN
183                      NaN                               NaN  ...   26.0    2.0
185                      NaN                               NaN  ...   29.0    3.0
193                      NaN                               NaN  ...    NaN    NaN

[58 rows x 13 columns])
('Kenya Ports',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
125                      NaN                               NaN  ...    NaN    NaN

[1 rows x 13 columns])
('Kiambu',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
38                       NaN                               NaN  ...    NaN    NaN
45                       NaN                               NaN  ...    NaN    NaN
53                       NaN                               NaN  ...    NaN    NaN
112                      NaN                               NaN  ...    NaN    NaN

[4 rows x 13 columns])
('Kibra',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
91                       NaN                               NaN  ...    NaN    NaN
144                      NaN                               NaN  ...    NaN    NaN

[2 rows x 13 columns])
('Kilifi',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
13                       NaN                               NaN  ...    NaN    NaN
18                       NaN                               NaN  ...    NaN    NaN
27                       NaN                               NaN  ...    NaN    NaN
36                       NaN                               NaN  ...    NaN    NaN
159                      NaN                               NaN  ...    NaN    NaN

[5 rows x 13 columns])
('Kilimani',    Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
90                      NaN                               NaN  ...    NaN    NaN

[1 rows x 13 columns])
('Kirinyaga',    Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
31                      NaN                               NaN  ...    NaN    NaN

[1 rows x 13 columns])
('Kisii',    Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
54                      NaN                               NaN  ...    NaN    NaN

[1 rows x 13 columns])
('Kitisuru',    Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
94                      NaN                               NaN  ...    NaN    NaN

[1 rows x 13 columns])
('Kitui',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
24                       NaN                               NaN  ...    NaN    NaN
155                      NaN                               NaN  ...    NaN    NaN

[2 rows x 13 columns])
('Kwale',    Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
17                      NaN                               NaN  ...    NaN    NaN
25                      NaN                               NaN  ...    NaN    NaN

[2 rows x 13 columns])
('Laikipia',    Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
44                      NaN                               NaN  ...    NaN    NaN

[1 rows x 13 columns])
('Lavington',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
102                      NaN                               NaN  ...    NaN    NaN

[1 rows x 13 columns])
('Machakos',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
35                       NaN                               NaN  ...    NaN    NaN
55                       NaN                               NaN  ...    NaN    NaN
71                       NaN                               NaN  ...    NaN    NaN
111                      NaN                               NaN  ...    NaN    NaN

[4 rows x 13 columns])
('Madaraka',    Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
98                      NaN                               NaN  ...    NaN    NaN

[1 rows x 13 columns])
('Mandera',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
52                       NaN                               NaN  ...    NaN    NaN
73                       NaN                               NaN  ...    NaN    NaN
117                      NaN                               NaN  ...    NaN    NaN
194                      NaN                               NaN  ...    NaN    NaN

[4 rows x 13 columns])
('Migori',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
166                      NaN                               NaN  ...    NaN    NaN
190                      NaN                               NaN  ...    NaN    NaN

[2 rows x 13 columns])
('Mombasa',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
19                       NaN                               NaN  ...    NaN    NaN
28                       NaN                               NaN  ...    NaN    NaN
39                       NaN                               NaN  ...    NaN    NaN
46                       NaN                               NaN  ...    NaN    NaN
56                       NaN                               NaN  ...    NaN    NaN
60                       NaN                               NaN  ...    NaN    NaN
64                       NaN                               NaN  ...    NaN    NaN
68                       NaN                               NaN  ...    NaN    NaN
74                       NaN                               NaN  ...    NaN    NaN
81                       NaN                               NaN  ...    NaN    NaN
108                      NaN                               NaN  ...    NaN    NaN
113                      NaN                               NaN  ...    NaN    NaN
118                      NaN                               NaN  ...    NaN    NaN
123                      NaN                               NaN  ...    NaN    NaN
127                      NaN                               NaN  ...    NaN    NaN
137                      NaN                               NaN  ...    NaN    NaN
147                      NaN                               NaN  ...    NaN    NaN
150                      NaN                               NaN  ...    NaN    NaN
156                      NaN                               NaN  ...    NaN    NaN
160                      NaN                               NaN  ...    NaN    NaN
167                      NaN                               NaN  ...    NaN    NaN
173                      NaN                               NaN  ...    NaN    NaN
178                      NaN                               NaN  ...    NaN    NaN
184                      NaN                               NaN  ...    NaN    2.0
189                      NaN                               NaN  ...    NaN    NaN

[25 rows x 13 columns])
('Muranga',    Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
34                      NaN                               NaN  ...    NaN    NaN

[1 rows x 13 columns])
('Nairobi',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
14                       NaN                               NaN  ...    NaN    NaN
20                       NaN                               NaN  ...    NaN    NaN
29                       NaN                               NaN  ...    NaN    NaN
40                       NaN                               NaN  ...    NaN    NaN
47                       NaN                               NaN  ...    NaN    NaN
57                       NaN                               NaN  ...    NaN    NaN
61                       NaN                               NaN  ...    NaN    NaN
65                       NaN                               NaN  ...    NaN    NaN
69                       NaN                               NaN  ...    NaN    NaN
75                       NaN                               NaN  ...    NaN    NaN
79                       NaN                               NaN  ...    NaN    NaN
82                       NaN                               NaN  ...    NaN    NaN
105                      NaN                               NaN  ...    NaN    NaN
109                      NaN                               NaN  ...    NaN    NaN
114                      NaN                               NaN  ...    NaN    NaN
119                      NaN                               NaN  ...    NaN    NaN
121                      NaN                               NaN  ...    NaN    NaN
124                      NaN                               NaN  ...    NaN    NaN
133                      NaN                               NaN  ...    NaN    NaN
145                      NaN                               NaN  ...    NaN    NaN
148                      NaN                               NaN  ...    NaN    NaN
151                      NaN                               NaN  ...    NaN    NaN
153                      NaN                               NaN  ...    NaN    NaN
157                      NaN                               NaN  ...    NaN    NaN
164                      NaN                               NaN  ...    NaN    NaN
170                      NaN                               NaN  ...    NaN    NaN
176                      NaN                               NaN  ...    NaN    NaN
179                      NaN                               NaN  ...    NaN    NaN
181                      NaN                               NaN  ...    NaN    NaN
188                      NaN                               NaN  ...    NaN    NaN

[30 rows x 13 columns])
('Nakuru',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
72                       NaN                               NaN  ...    NaN    NaN
77                       NaN                               NaN  ...    NaN    NaN
116                      NaN                               NaN  ...    NaN    NaN
191                      NaN                               NaN  ...    NaN    NaN

[4 rows x 13 columns])
('Ngara',    Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
99                      NaN                               NaN  ...    NaN    NaN

[1 rows x 13 columns])
('Nyamira',    Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
33                      NaN                               NaN  ...    NaN    NaN

[1 rows x 13 columns])
('Nyeri',    Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
43                      NaN                               NaN  ...    NaN    NaN

[1 rows x 13 columns])
('Old Town',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
168                      NaN                               NaN  ...    NaN    NaN

[1 rows x 13 columns])
('Parklands',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
93                       NaN                               NaN  ...    NaN    NaN
129                      NaN                               NaN  ...    NaN    NaN

[2 rows x 13 columns])
('Pipeline',     Monitored/close contacts  Discharged after being monitored  ...  Matot Matvao
89                       NaN                               NaN  ...    NaN    NaN
128                      NaN                               NaN  ...    NaN    NaN

[2 rows x 13 columns])

In [0]:
Nairodata